section#about_me {
    /* background: url() no-repeat center center/cover; */
    padding: 30px;
    padding-bottom: 50px;
    width: 100vw;
    margin: auto;
    display: flex;
    background-color: #ffcb91;
    
}

section#aboutme h1 {
    text-align: center;
    justify-content: center;
}

/* flex makes them into a row */
.about {
    display: flex;
    justify-content: space-around;
}

.left_about_me {
    flex: 0.5;
    text-align: center;
    margin: auto;
}

.right_about_me {
    flex: 0.5;
}