section#contact{
    background-color: #6ddccf;
}



.contact_details {
    position:absolute;
}

.form_data {
    display:flex;
    flex-direction: column;
    width: 40%;
    font-family: century-gothic;
}

.form_data input,textarea{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: century-gothic;
}