section#contact{
    background-color: #f5f5f5;
}

section#contact h1{
    color: #1d3149;
}

.contact_details {
    position:absolute;
    color: #1d3149;
}

.form_data {
    display:flex;
    flex-direction: column;
    width: 40%;
    font-family: century-gothic;
    color: #1d3149;
}

::placeholder{
    color: #1d3149;
}

.form_data input.form_input, textarea.form_textarea{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: century-gothic;
    color: #1d3149;
}