/* For some reason putting scroll-behavior:smooth; within
    the container tag didn't work but doing this did
*/
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
  }

.container {
    width: 100vw;
    height: 100vw;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #181B0E;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-family: 'century-gothic';
}

.navbar ul li a:hover{
    color:skyblue;
}